body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1100px;
    margin: 0 auto  ;
}
.flex{
    display: flex;
    flex-direction: row;
}
header{
    background-image: url(../img/jumbo.png);
    height: 400px;
    background-size: contain;
  
}
.opzioni-nav{
    color: white;
    font-size: 13px;
    justify-content: space-around;  
}
.upper{
   align-items: center;
   justify-content: space-around;
   padding-top: 11px;
}
ul{
    list-style-type: none;
}
div.logo, div.login{
    width: 10%;

}
nav.barra-nav{
    width: 50%;
}
 ul li{
    margin-right: .1rem;
 }
 .img{
    width: 90px;
 }
 .login{
    height: 30px;
    width: 60px;
    border-radius: 15px;
    border: none;
 }
 .color-white{
    color: white;  
 }
 .titolo{
    text-align: center;
    margin-top:6%;
    font-size: 35px;
 }
 .testo{
    width:45%;
    font-size:13px ;
    margin: auto;
    text-align: center;
    margin-top:20px;
    
 }
.scelta-task{
    margin-left: 35%;
    margin-top: 30px
   
} 
.task{
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-right: 20px;

}
.task-mac{
    width: 140px;
}
.task-browser{
    width: 200px;
    background-color: black;
}

div.imagine, div.testo{
    height: 500px;

}
div.imagine{
    width: 60%;
    

}
div.testo{
    width: 40%;
    
    
}
main>section{
    padding: 4rem 0;
}
.text{ 
    margin-top: 40px;
    width: 60%;
} 
.testo{
    text-align: left;
    font-size: 13px;
    width: 45%;
}
.testo-1{
margin-left: 120px;

    
}
.testo-2{ 
margin-left:50px ;
}

div > h2.sottotitoli{
    font-size:30px;
    text-align: left;
    
}
.sottotitolo-1{
    width: 40%;
    margin-left: 120px;
   

}
.sottotitolo-2{
    width: 50%;
    margin-left: 50px;  
}

.imagine{
    width: 80%;   
}
.sottotitolo-3{
    font-size:33px;
    text-align: center;
    margin-bottom: 15px;
   
}
.testo-3{
    font-size: 13px;
    width:60% ;
    margin: auto;
    text-align: center;   
}
.imagine-1{
    width: 70%;
    margin-left: 16%;
    margin-bottom: 10px
    
}
.bg-stelle{
    width:35% ;
    margin-left: 30%;
}
.interrogazione{
    font-size: 20px;
    margin-left: 33%;
}
.color-task{
    background-color: #9aadf4;
    margin:3% 0 0 40%;

}
.footer-upper{
    height: 400px;
    justify-content: center;
    padding-top: 8%;
}
.spazio-interiga{
    line-height: 20px;
}
.colonna-1{
    width: 30%;
    

}
.colonna-2{
    width:15% ;
   
    
}
.Testo{
    color: white;
    font-size:11px ;
}
.uppercase-text{
    font-size: 20px;
    width: 40%;
   
}
.bg-nero{
    background-color: black;
}
.text-blu{
    color: #6486ff;
}
.bandierina{
    width: 15px;
    margin-top:20px;
    margin-right: 3px  ;
}
.carattere-speciale{
    font-size: 15px;
}
hr{
    width: 1100px;
    border: 1px solid #6d8cf9;
    margin: auto;
}
.down-footer{
    justify-content: space-between;
    padding: 15px 50px;
}
.bg-blu{
    background-color:#9aadf4 ;
}